<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CountryServletCreate</display-name>
    <servlet-name>CountryServletCreate</servlet-name>
    <servlet-class>country.web.servlet.CountryServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletCreate</servlet-name>
    <url-pattern>/CountryServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CountryServletRead</display-name>
    <servlet-name>CountryServletRead</servlet-name>
    <servlet-class>country.web.servlet.CountryServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletRead</servlet-name>
    <url-pattern>/CountryServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CountryServletDelete</display-name>
    <servlet-name>CountryServletDelete</servlet-name>
    <servlet-class>country.web.servlet.CountryServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletDelete</servlet-name>
    <url-pattern>/CountryServletDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>HospitalServletCreate</display-name>
    <servlet-name>HospitalServletCreate</servlet-name>
    <servlet-class>hospital.web.servlet.HospitalServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServletCreate</servlet-name>
    <url-pattern>/HospitalServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HospitalServletRead</display-name>
    <servlet-name>HospitalServletRead</servlet-name>
    <servlet-class>hospital.web.servlet.HospitalServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServletRead</servlet-name>
    <url-pattern>/HospitalServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>HospitalServletDelete</display-name>
    <servlet-name>HospitalServletDelete</servlet-name>
    <servlet-class>hospital.web.servlet.HospitalServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServletDelete</servlet-name>
    <url-pattern>/HospitalServletDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>BillServletCreate</display-name>
    <servlet-name>BillServletCreate</servlet-name>
    <servlet-class>bill.web.servlet.BillServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServletCreate</servlet-name>
    <url-pattern>/BillServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BillServletRead</display-name>
    <servlet-name>BillServletRead</servlet-name>
    <servlet-class>bill.web.servlet.BillServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServletRead</servlet-name>
    <url-pattern>/BillServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BillServletDelete</display-name>
    <servlet-name>BillServletDelete</servlet-name>
    <servlet-class>bill.web.servlet.BillServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServletDelete</servlet-name>
    <url-pattern>/BillServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmployeeServletCreate</display-name>
    <servlet-name>EmployeeServletCreate</servlet-name>
    <servlet-class>employee.web.servlet.EmployeeServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServletCreate</servlet-name>
    <url-pattern>/EmployeeServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmployeeServletRead</display-name>
    <servlet-name>EmployeeServletRead</servlet-name>
    <servlet-class>employee.web.servlet.EmployeeServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServletRead</servlet-name>
    <url-pattern>/EmployeeServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>EmployeeServletDelete</display-name>
    <servlet-name>EmployeeServletDelete</servlet-name>
    <servlet-class>employee.web.servlet.EmployeeServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServletDelete</servlet-name>
    <url-pattern>/EmployeeServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PatientServletCreate</display-name>
    <servlet-name>PatientServletCreate</servlet-name>
    <servlet-class>patient.web.servlet.PatientServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServletCreate</servlet-name>
    <url-pattern>/PatientServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PatientServletRead</display-name>
    <servlet-name>PatientServletRead</servlet-name>
    <servlet-class>patient.web.servlet.PatientServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServletRead</servlet-name>
    <url-pattern>/PatientServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PatientServletDelete</display-name>
    <servlet-name>PatientServletDelete</servlet-name>
    <servlet-class>patient.web.servlet.PatientServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServletDelete</servlet-name>
    <url-pattern>/PatientServletDelete</url-pattern>
  </servlet-mapping>
  
 
   <servlet>
    <description></description>
    <display-name>RoomServletCreate</display-name>
    <servlet-name>RoomServletCreate</servlet-name>
    <servlet-class>room.web.servlet.RoomServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServletCreate</servlet-name>
    <url-pattern>/RoomServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RoomServletRead</display-name>
    <servlet-name>RoomServletRead</servlet-name>
    <servlet-class>room.web.servlet.RoomServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServletRead</servlet-name>
    <url-pattern>/RoomServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RoomServletDelete</display-name>
    <servlet-name>RoomServletDelete</servlet-name>
    <servlet-class>room.web.servlet.RoomServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServletDelete</servlet-name>
    <url-pattern>/RoomServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ConditionsServletCreate</display-name>
    <servlet-name>ConditionsServletCreate</servlet-name>
    <servlet-class>conditions.web.servlet.ConditionsServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConditionsServletCreate</servlet-name>
    <url-pattern>/ConditionsServletCreate</url-pattern>
  </servlet-mapping>
 
  
    <servlet>
    <description></description>
    <display-name>ConditionsServletRead</display-name>
    <servlet-name>ConditionsServletRead</servlet-name>
    <servlet-class>conditions.web.servlet.ConditionsServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConditionsServletRead</servlet-name>
    <url-pattern>/ConditionsServletRead</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ConditionsServletDelete</display-name>
    <servlet-name>ConditionsServletDelete</servlet-name>
    <servlet-class>conditions.web.servlet.ConditionsServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConditionsServletDelete</servlet-name>
    <url-pattern>/ConditionsServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
